<f:if condition="[news}">
	<f:for each="{news}" as="newsItem">
		<div style="border:1px solid #ccc;padding:10px;margin:10px">
			<h1>{newsItem.title}</h1>
			uid: {newsItem.uid} <br >
		</div>

	</f:for>

</f:if>