
#newslistitems-list {
	background: #eee;
	border: 1px solid #ccc;
	padding:5px 3px;
	margin:5px 0;
	cursor: default;
}


#newslistitems-list li {
	padding:3px 5px;
	border-bottom: 1px solid #ccc;;
	margin-bottom:2px;
}

#newslistitems-list li:last-child {
	border:none;
}
#newslistitems-list .drag {
	background: #fff;
	display: block;
	float: right;
	height:16px;
	width:16px;
	text-align: center;
	cursor: move;
}